*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #E6EE9C;
}
header nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: black;
    color: white;
    z-index: 1; /* z index jiska jyda hota he  o uper me dikata he  */
    
}
header nav h1{
    padding-left: 40px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
header nav form{
    padding-right: 40px;
    display: flex;
    justify-content: center;
}

input{
    
    flex-grow: 1;
    margin-right: 10px;
    border: none;
} 
.find{
    font-size: 18px;
    padding: 10px 25px 10px  25px;
    background-color: rgb(234, 23, 23);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition:  background-color 0.2s ease-in-out;
  
    
}
.recipe-close-btn{
    justify-items: left;
    background-color:white ;
    cursor: pointer;
    height: 30px;
    width: 30px; 
    position: absolute;
    top :20px;
    right: 20px;
    border-radius: 2px;
    border:none ;

}

/* Hover Effect On button  */

.find:hover{
    background-color: rgb(233, 74, 74);;
}


/* responsivnes Code  of the nav bar*/

@media screen and (max-width:768px) {

    header nav{
        
         flex-direction:column;
    }
   

     header nav form{
     
        margin-top: 10px;
        
     }
     header nav form .find{
        display: flex;
        justify-content: center;
     }
    
}


/*  Recipi Details */

.recipe-details{
    display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     background-color: #d5a55d;
     -webkit-transform:translate(-50%,-50%) ;
     border-radius: 12px;
     width:50%;
     height: 70%;
     transition: all 0.5s ease-in-out;
     overflow-y:  scroll;

}

.recipe-detail-content{

   padding: 40px;

}

/* adding a scrol bar  */

.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background: red ;
    border-radius: 16px;
}



/* Recipies container  Main Section  */ 
.recipiContainer{

    text-align: center;
    margin: 20px;
    display: grid; 
    /* The Display Grid is Used For Show the img of card in Row wise  */
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto   ;
    padding: 20px;
    

}
.recipes{
     background-color: white;
     display: flex;
     flex-direction:column;
     border-radius: 6px;
    /* Max width is fixed size of the card  When We remove the max-width then card will be  Sowing big  */
    max-width: 300px;
    height: 450px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}
.recipes:hover{
    transform: scale(1.03);
}

.recipes h2{
    margin-block: 5px;
}
.recipes p{
    font-size: 15px;
    font-weight: 300;
}

.recipes span{

    font-weight: 600;
}

Click{
    background-color: red;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-left: 80px;
}


.recipiName{

   text-align: center;
   font-size: 35px;
   text-transform: uppercase;
    text-decoration: underline;

}
.ingredient{
    margin-bottom: 10px;
    margin-left: -20px;
}
.instructions p{

    line-height: 30px;
}

.center h2{
     text-align: center;
}


/* 1:21 */







